*.a
*.cmake
CMakeFiles
Makefile
CMakeCache.txt
dmg/dmg
hdutil/hdutil
hfs/hfsplus
ipsw-patch/imagetool
ipsw-patch/ipsw
ipsw-patch/ticket
ipsw-patch/validate
ipsw-patch/xpwntool
yeet
XPwn-0.5.8-Darwin*
openssl-1.0.2u*
build/
